# dot files
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

# zig build
.zig-cache
zig-out

# build
build
HAL_Driver/build-make
HAL_Driver/build/

# caches
.cache

# bear generated (for syntax support in Zed)
compile_commands.json
